<div class="example-form h-86" [ngClass]="editBoxState?'form-thin':'form-wide'">
    <div class="col1">
        <img src="assets/profile-pic.png" alt="" class="hist-pic"
            [ngClass]="editBoxState===false?'containerOn':'containerOff'">
        <div [@editOn]="editBoxState?'show':'hide'" style="width: 100%;height: 100%;">
            <div class="aparen-info" *ngIf="editBoxState">
                <div class="atr-info rel">
                    <h2 class="atr-name">{{objDeAlteracoes[tipoAtual][alterarAtual].tipo}}</h2>
                    <mat-icon class="cursor-point ui-icon" (click)="fecharAlteracao()">highlight_off</mat-icon>
                </div>
                <div class="tal-edit-box">
                    <label for="talento-nome" class="main-txt bold mt-1"
                        [ngClass]="erroRepeticao||erroVazio?'erro-label':''">Nome:</label>
                    <div style="position: relative;" class="tal-input-box">
                        <input id="talento-nome" placeholder="Dê um nome para o talento..."
                            class="field edit-field pt-06rem" [ngClass]="erroRepeticao||erroVazio?'erro-field':''"
                            [(ngModel)]="objDeAlteracoes[tipoAtual][alterarAtual].nome"
                            (ngModelChange)="mudouSeAlgo($event, 'nome')">
                        <div class="erro-txt" *ngIf="erroRepeticao">Um item com esse nome já existe.</div>
                        <div class="erro-txt" *ngIf="erroVazio">O item não pode ter o nome vazio.</div>
                        <button class="tal-reverse-btn" *ngIf="undoBotao.nome" (click)="reverter('nome')">
                            <mat-icon class="change-btn btn-rvt">replay</mat-icon>
                        </button>
                    </div>
                    <div style="position: relative;" class="tal-input-box">
                        <label for="talento-pic" class="main-txt bold">Imagem:</label>
                        <input id="talento-pic" placeholder="Link para a imagem..." class="field edit-field pt-06rem"
                            [(ngModel)]="objDeAlteracoes[tipoAtual][alterarAtual].img"
                            (ngModelChange)="mudouSeAlgo($event, 'img')">
                        <button class="tal-reverse-btn" *ngIf="undoBotao.img" (click)="reverter('img')">
                            <mat-icon class="change-btn btn-rvt">replay</mat-icon>
                        </button>
                    </div>
                    <div style="position: relative;" class="tal-input-box">
                        <label for="talento-descricao" class="main-txt bold">Descricao:</label>
                        <textarea id="talento-descricao" placeholder="Descreva o talento..."
                            class="field edit-field overf-y-initial" rows="3"
                            [(ngModel)]="objDeAlteracoes[tipoAtual][alterarAtual].descricao"
                            (ngModelChange)="mudouSeAlgo($event, 'descricao')"></textarea>
                        <button class="tal-reverse-btn" *ngIf="undoBotao.descricao" (click)="reverter('descricao')">
                            <mat-icon class="change-btn btn-rvt">replay</mat-icon>
                        </button>
                    </div>
                    <div class="criar-btn-box">
                        <button mat-button class="btn-criar bg-col bd-col fill-col" *ngIf="novosArray.length > 0"
                            title="Criar Novo Item" (click)="criar()">Criar</button>
                    </div>

                </div>
                <div class="acoes-btn-box" *ngIf="tipoAtual === 'editar'">
                    <button mat-button class="pure-icon btn-editar bg-col bd-col fill-col" title="Excluir Item"
                        (click)="excluirCheck(objDeAlteracoes[tipoAtual][alterarAtual].nome)">
                        <mat-icon class="del-icon">delete_forever</mat-icon>
                    </button>
                    <button mat-button class="pure-icon btn-desfazer bg-col bd-col" (click)="reverterTudo()"
                        title="Reverter Mudanças"
                        [disabled]="mudadosArray.includes('editar'+alterarAtual+'nome')|| mudadosArray.includes('editar'+alterarAtual+'img') || mudadosArray.includes('editar'+alterarAtual+'descricao')?false:true">
                        <mat-icon>restore_page</mat-icon>
                    </button>
                    <button mat-button class="pure-icon btn-criar bg-col bd-col fill-col" (click)="fecharAlteracao()"
                        title="Confirmar">
                        <mat-icon class="">check_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col2 overf-y-auto">
        <div class="atr-info">
            <h1 class="atr-name margin-0 padd-0" (click)="ativarAlteracao('Novo')"
                [ngClass]="editBoxState?'':'pointer'">Talentos</h1>
        </div>
        <div class="load-box-tal" *ngIf="loading">
            <mat-spinner strokeWidth="2" color="warn" diameter="50"></mat-spinner>
        </div>
        <div class="tal-container" [ngClass]="editBoxState?'thin-mode':''">
            <div class="tal-box" *ngIf="!loading" [@view]>
                <div class="cortina" *ngIf="editBoxState"></div>
                <div class="tal-item-box" *ngFor="let index of contadorArray"
                    (click)="ativarAlteracao('Editar', talentoArray[index], talentoComoObj[index].id)"
                    [ngClass]="[mudadosArray.includes('editar'+talentoComoObj[index].id+'nome')|| mudadosArray.includes('editar'+talentoComoObj[index].id+'img') || mudadosArray.includes('editar'+talentoComoObj[index].id+'descricao') ?'update-icon':'', editBoxState?'':'pointer']"
                    title="{{talentoArray[index]}}" (mouseenter)="mouseIn(talentoArray[index])">
                    <div class="tal-item-icon">
                        <img *ngIf="talentoComoObj[index].img"
                            style="width: 100%;height: 100%; object-fit: cover;object-position: center;"
                            src="../../../assets/{{talentoComoObj[index].img}}" alt="">
                    </div>
                    <div class="tal-item-txt">{{talentoArray[index]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>